# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

### Maven template
target/
pom.xml
.mvn/wrapper/maven-wrapper.jar
mvnw
HELP.md
mvnw.cmd
.mvn

# IntelliJ project files
.idea
*.iml
out
target
pom.xml
logs


# Custome ignore.
src/test/*
src/main/*
!src/main/java
!src/main/resources


src/main/java/*
!src/main/java/my


src/main/resources/*
!src/main/resources/mybatis-config.xml
!src/main/resources/generatorConfig.xml
!src/main/resources/log4j2.xml